@page
@model ASpecialDay.Pages.CRUD._Gift.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Gift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gift.InviteCode" class="control-label"></label>
                <select asp-for="Gift.InviteCode" class ="form-control" asp-items="ViewBag.InviteCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gift.Name" class="control-label"></label>
                <input asp-for="Gift.Name" class="form-control" />
                <span asp-validation-for="Gift.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gift.Description" class="control-label"></label>
                <input asp-for="Gift.Description" class="form-control" />
                <span asp-validation-for="Gift.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gift.Position" class="control-label"></label>
                <input asp-for="Gift.Position" class="form-control" />
                <span asp-validation-for="Gift.Position" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gift.IsBought" /> @Html.DisplayNameFor(model => model.Gift.IsBought)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
