@page
@model ASpecialDay.Pages.CRUD._Guest.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Guest.InviteCode" class="control-label"></label>
                <input asp-for="Guest.InviteCode" class="form-control" />
                <span asp-validation-for="Guest.InviteCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Email" class="control-label"></label>
                <input asp-for="Guest.Email" class="form-control" />
                <span asp-validation-for="Guest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Firstname" class="control-label"></label>
                <input asp-for="Guest.Firstname" class="form-control" />
                <span asp-validation-for="Guest.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Lastname" class="control-label"></label>
                <input asp-for="Guest.Lastname" class="form-control" />
                <span asp-validation-for="Guest.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
